.form {
	display: flex;
	gap: 10px;
	flex: 1;
}
.form input {
	flex: 1;
	height: 54px;
	padding-left: 15px;
	background: var(--gray-500);
	color: var(--gray-300);
	border-radius: 8px;
	border: none;
	box-shadow: -0.5px 0.5px 5px 2px var(--gray-700);
}
.form button {
	gap: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--gray-100);
	background: var(--blue-200);
	border-radius: 8px;
	padding: 1rem;
	transition: opacity 0.3s;
}
.form button:hover {
	opacity: 0.7;
}
